{
    "android": {
        "release": {
            "keystore": "/bitrise/src2/orakel_keystore.jks",
            "storePassword": "",
            "alias": "key0",
            "password" : ""
        }
    }
}