<?xml version='1.0' encoding='utf-8'?>
<widget id="no.artsdatabanken.orakel" version="0.1.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Artsorakel</name>
    <description>
        Artsdatabankens Artsorakel til automatisk identifisering av arter i Norge.
    </description>
    <author email="postmottak@artsdatabanken.no" href="http://artsdatabanken.no">
        Artsdatabanken
    </author>
    <content src="index.html" />
    <preference name="HeaderColor" value="#4c4a48" />
    <preference name="StatusBarBackgroundColor" value="#4c4a48" />
    <plugin name="cordova-plugin-whitelist" spec="1" />
    <plugin name="cordova-plugin-camera" spec="^4.1.0" />
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <platform name="android">
        <allow-intent href="market:*" />
        <icon src="www/android-chrome-512x512.png" />
    </platform>
    <platform name="ios">
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
    </platform>
    <hook type="before_prepare" src="scripts/prebuild.js" />
</widget>
