.App {
}

.headerBar {
  height: 65px;
  background-color: rgb(76, 74, 72);
}

.headerLogo {
  margin-right: auto;
  margin-left: auto;
  max-width: 664px;
  height: 65px;
  position: relative;
  background-color: rgb(76, 74, 72);
  z-index: 1;
}

.headerLogo img {
  height: 65px;
  padding: 20px;
  background-color: white;
}

.Container {
  margin-right: auto;
  margin-left: auto;
  max-width: 664px;
  background-color: white;
  min-height: 100vh;
  margin-top: -65px;
  padding-top: 65px;
  padding-bottom: 100px;
  position: relative;
}

.cropContainer {
  background-color: white;
  position: absolute;
  width: 100vw;
  height: 100vh;
  top: 0;
  display: flex;
  flex-direction: column;
  z-index: 2;
}

.cropContainer .cropper {
  position: relative;
  height: 80vh;
  flex-shrink: 1;
}

.cropContainer .cropButton {
  text-align: center;
  vertical-align: middle;
  flex-shrink: 0;
  padding: 10px;
}

.images {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 25px;
}

.gridElement {
  display: flex;
  width: 166px;
  height: 166px;
  max-width: 25vw;
  max-height: 25vw;
  position: relative;
  align-items: center;
  justify-content: center;
  font-size: 5em;
  color: white;
}

.images .NewImage {
  background-color: lightgray;
}

.images *:focus {
  background-color: #f57c00;
}

.images .Reset {
  background-color: #f7ab60;
}

.imgContainer {
  text-align: center;
  padding-bottom: 20px;
  text-decoration: none;
}

.imgContainer .removeLink {
  text-decoration: none;
  font-weight: 500;
  color: #333;
}

.clickable {
  cursor: pointer;
}

.NewImage input {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 166px;
  height: 166px;
  max-width: 25vw;
  max-height: 25vw;
}

.buttonRow {
  text-align: center;
}

.hint {
  padding-left: 15px;
  padding-bottom: 15px;
}

.hint .title {
  padding: 15px;
  font-size: 2.5em;
  font-weight: 300;
}

.hint .body {
  padding: 0px 15px 0px 15px;
  font-size: 1.2em;
  font-weight: 300;
}

.resultRow {
  display: flex;
  align-items: center;
  padding-left: 15px;
  padding-bottom: 15px;
}

.resultRow .title {
  padding-left: 20px;
  font-size: 1.6em;
  font-weight: 300;
}

.resultRow .body {
  padding: 15px;
  font-size: 1.2em;
  font-weight: 300;
}

.resultDonut {
  width: 100px;
  height: 100px;
  flex-shrink: 0;
}

.resultLabels {
  padding-left: 15px;
}

.resultLabels .vernacular {
  font-size: 1.8em;
  font-weight: 500;
}

.resultLabels .scientific {
  font-style: italic;
  font-weight: 200;
  font-size: 1.4em;
}

.resultLabels .group {
  font-weight: 400;
  font-size: 0.95em;
  line-height: 1em;
  font-variant: small-caps;
}

.resultLabels .percentage {
  font-weight: 300;
  font-size: 0.85em;
  line-height: 1.4em;
}

.fabContainer {
  position: absolute;
  right: 0;
  top: 0;
  line-height: 65px;
  display: flex;
}

.fabContainer * {
  font-size: 15px;
  font-weight: 400;
  padding-left: 18px;
  padding-right: 18px;
  color: white;
  text-decoration: underline;
}

.fabContainer *:hover {
  text-decoration: none;
  background-color: lightgray;
  color: rgb(76, 74, 72);
}

.betaRibbon {
  position: absolute;
  right: 0px;
  bottom: 0px;
  width: 150px;
  z-index: 1;
}

.dialogContent {
  padding-bottom: 25px;
}

.dialogContent p {
  margin-bottom: 25px;
}

.dialogContent .quote {
  border-left: #f57c00 3px solid;
  padding-left: 20px;
  font-size: 1.2em;
  font-weight: 300;
  font-style: italic;
}

.aboutLogo {
  max-height: 75px;
  max-width: 40%;
  margin-right: 9%;
}

.danger {
  color: darkred;
  font-weight: 700;
}

.reportButton {
  background-color: lightgreen;
}

.actionContainer {
  padding: 0 15px 15px 15px;
}

.actionContainer div {
  padding-bottom: 15px;
  display: flex;
}

.actionContainer p {
  display: block;
  padding-left: 15px;
  font-size: 1.3em;
  line-height: 1.6em;
  font-weight: 300;
}

.actionContainer button {
  height: 2em;
  line-height: 1em;
  font-size: 1em;
  background-color: #f57c00;
  color: white;
}

.actionContainer input {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
}
