body {
  align-items: center;
  justify-content: center;
  background-color: hsl(0, 0%, 90%);
  font-family: Roboto Condensed;
}

#root {
  width: 100vw;
  height: 100vh;
  position: relative;
}

#root > div {
  width: 100%;
  height: 100%;
}

.App {
  height: 100%;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  position: relative;
  max-width: 600px;
  display: flex;
  margin-left: auto;
  margin-right: auto;
}

.lightmode  {
  color: #121212;
}

.darkmode {
  color: #eee;
}

.App.lightmode {
  background-color: #5fb342;
  background-image: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 245, 0, 0.33) 25%
  );
}

.App.darkmode {
  background-color: #121212;
}

.App.fullscreen {
  max-width: 100vw !important;
  width: 100vw;
}

.image-section {
  height: 25%;
  flex-grow: 1;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.lightmode .image-section {
  color: white;
}

.darkmode .image-section {
  color: #eee;
}

.menu-icon {
  position: absolute;
  top: 0;
  right: 0;
  margin: 15px;
}

.image-section .placeholder-container {
  width: 50%;
  text-align: center;
}

.image-section .placeholder-title {
  font-size: 1.3em;
  line-height: 3em;
}

.image-section .placeholder-body {
  font-weight: 300;
  font-size: 1em;
  line-height: 1.2em;
}

#bigDropzone {
  opacity: 0;
  top: 0px;
  z-index: 0;
  position: absolute;
  width: 100%;
  height: 100%;
}

.menu-icon {
  z-index: 1;
}

.bottom-section {
  height: 75%;
  border-radius: 30px 30px 0px 0px;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.12);
  padding: 1.5em;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow-x: hidden;
  overflow-y: scroll;
  transition: height 300ms ease-in-out 3ms;
}

.lightmode .bottom-section {
  background-color: white;
}

.darkmode .bottom-section {
  background-color: #20241b;
}

.bottom-section.hidden {
  height: 0px;
  padding: 0;
}

.manual-item {
  display: flex;
  flex-direction: row;
  padding: 20px 30px;
  align-items: center;
}

.manual-item-number {
  font-size: 2em;
  padding-right: 20px;
  opacity: 0.25;
}

.manual-item-text {
  flex-grow: 1;
  font-size: 1.3em;
  font-weight: 300;
  padding-right: 20px;
}

.manual-item svg {
  min-width: 45px;
  width: 45px;
}

.bottomButtons {
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
}

.NewImage {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 4em;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  position: relative;
  box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.25);
}

.lightmode .primary {
  background-color: hsl(105, 46%, 48%);
  border-color: #fff;
  color: #fff;
}

.darkmode .primary {
  background-color: hsl(88, 50%, 68%);
  border-color: #121212;
  color: #121212;
}

.NewImage input {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  cursor: pointer;
}

.scrollbarless {
  -ms-overflow-style: none; /* Internet Explorer 10+ */
  scrollbar-width: none; /* Firefox */
}

.scrollbarless::-webkit-scrollbar {
  display: none; /* Safari and Chrome */
}

.images {
  display: flex;
  flex-direction: row;
  overflow-x: scroll;
  overflow-y: hidden;
}

.imgContainer {
  padding-left: 7px;
  padding-right: 7px;
}

.uploadedImage {
  border-radius: 25px;
  width: 120px;
  max-height: 100%;
}

.goToInput {
  border-radius: 25px;
  width: 120px;
  max-height: 100%;
  border: hsla(0, 0%, 100%, 0.5) dashed;
  background-color: hsla(0, 0%, 100%, 0.15);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  z-index: 2;
  margin: 0 7px;
}

.goToInput::after {
  content: "+";
  font-family: "Times New Roman", Times, serif;
  font-size: 5em;
  color: rgba(255, 255, 255, 0.7);
}

.top-btn {
  position: absolute;
  margin-top: -3em;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  left: 0;
}

.btn {
  border: 3px solid;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
  border-radius: 50px;
  height: 50px;
  font-size: 1.3em;
  line-height: 23px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  text-decoration: none;
}

.id.btn {
  padding: 0px 2em;
}

.reset.btn {
  padding: 0px 1em;
}

.btn > span {
  flex-grow: 1;
  padding: 10px;
}

.cropContainer {
  position: absolute;
  width: 100%;
  height: 100vh;
  z-index: 100;
  background-color: rgba(0, 0, 0, 0.85);
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
}

.cropContainer > .cropper {
  flex-grow: 1;
}

.cropContainer > .editing {
  display: flex;
  width: 100%;
}

.cropContainer > .editing .slider {
  flex-grow: 1;
  padding: 0px 20px;
}

.cropContainer > .buttons {
  display: flex;
}

.cropContainer > .buttons > div {
  padding: 8px 25px;
  margin: 25px;
}

.cropContainer svg {
  width: 30px;
  cursor: pointer;
}

.modal {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.72);
  width: 100%;
  height: 100vh;
}

.modal.invisible {
  z-index: -2;
  opacity: 0;
  transition: opacity 100ms linear 200ms, z-index 0ms linear 300ms;
}

.modal.visible {
  opacity: 1;
  z-index: 3;
  transition: opacity 100ms linear 3ms;
}

.modal .content {
  width: 100%;
  z-index: 300;
  transition: all 300ms ease-in-out 3ms;
  padding: 60px 30px 30px 30px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.lightmode .modal .content {
  background-color: white;
}

.darkmode .modal .content {
  background-color: #20241b;
}

#resultModal .content {
  position: relative;
  margin-top: 10vh;
  height: 80vh;
  border-radius: 30px;
}

#resultModal.visible .content {
  margin-left: 0;
}

#resultModal.invisible .content {
  margin-left: 100vw;
  width: 0;
  padding: 0;
}

#menu .content {
  top: 0;
  border-radius: 0 0 30px 30px;
}

#menu.visible .content {
  height: 27em;
}

#menu.invisible .content {
  height: 0vh;
}

.modal .content > svg {
  position: absolute;
  right: 20px;
  top: 20px;
  cursor: pointer;
}

.menuItem {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-top: 1px solid hsla(0, 0%, 50%, 0.5);
  padding: 15px 0px;
  font-size: 1.4em;
  font-weight: 300;
  cursor: pointer;
  transition: transform 350ms ease-in-out 3ms;
}

#menu.invisible .menuItem {
  transform: translateY(-15vh);
}

.menuItem:active {
  background-color: hsla(105, 45%, 68%, 0.25);
}

.menu-icon {
  cursor: pointer;
}

#menu a {
  text-decoration: none;
  color: inherit;
}

.resultRow {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 20px 0px;
  border-bottom: 1px solid hsla(0, 0%, 50%, 50%);
  cursor: pointer;
  word-break: break-word;
}

.resultDonut {
  width: 5em;
  margin-right: 20px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}

.darkmode .resultDonut svg {
  opacity: 0.66;
}

.resultDonut .percentage {
  position: absolute;
  font-size: 1.3em;
}

.vernacular {
  font-weight: 500;
}

.resultRow .vernacular {
  font-size: 1.8em;
}

.lightmode .danger {
  background-color: #b35d42;
  border-color: #fff;
  color: #fff;
}

.darkmode .danger {
  background-color: hsl(14, 46%, 68%);
  border-color: #121212;
  color: #121212;
}

.danger svg {
  margin-right: 0.3em;
}

#resultModal .vernacular {
  font-size: 2.5em;
}

#resultModal .resultLabels {
  border-top: 1px solid hsla(0, 0%, 50%, 50%);
  border-bottom: 1px solid hsla(0, 0%, 50%, 50%);
  padding: 1em 0;
  flex-grow: 0;
  margin-bottom: 2em;
}

#resultModal .resultDescription {
  font-size: 1.3em;
  flex-grow: 1;
}

#resultModal .resultDescription > * {
  margin-top: 1em;
}

#resultModal .resultActions {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

#resultModal .btn {
  margin: 0em 0.5em;
  font-size: 1.1em;
  padding: 0em 1.1em;
}

.italics {
  font-style: italic;
}

.resultRow .scientific {
  font-size: 1.4em;
}

#resultModal .scientific {
  font-size: 1.6em;
}

.scientific {
  font-style: italic;
  font-weight: 300;
}

.group {
  font-size: 1em;
  font-variant: small-caps;
}

.resultLabels {
  flex-grow: 1;
}

.chevron-right {
  flex-shrink: 0;
  color:  hsla(0, 0%, 50%, 75%)
}

.chevron-right svg {
  height: 3em;
}

.loading .imgContainer {
  animation: spin 1s ease-in-out infinite;
}

@keyframes spin {
  50% {
    opacity: 0.5;
  }
}
